# Entornos virtuales
.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs y bases de datos
*.log
*.sqlite
*.db

# Archivos de entorno
.env
.env.local
